* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Pretendard--34-700: 700 clamp(30px, 7vw, 34px) Pretendard;
  --Pretendard--26-600: 600 clamp(20px, 6vw, 26px) Pretendard;
  --Pretendard--20-400: 400 clamp(16px, 4vw, 20px) Pretendard;
  --Pretendard--20-600: 600 clamp(16px, 4vw, 20px) Pretendard;
}

body {
  margin: 0;
  /* background: #f5efea; */
}

html {
  .right-arrow-button {
    margin-top: 16px;
    padding: 6px 6px 6px 12px;
    color: #565bff;
    font-family: Pretendard;
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 600;
    letter-spacing: -0.4px;
    border-radius: 6px;
    background: var(--doranblue03, #f3f3ff);
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  font-size: 62.5%;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#__next {
  width: 100%;
  max-width: 512px;
  margin: auto;
  min-height: 100vh;
  max-height: fit-content;
  background: #fcfcfc;
  position: relative;
}
.modal-open {
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
